@media (max-width: 750px) {
    .navbar {
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0px 8px 30px 0px rgba(255, 255, 255, 0.25);
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px 10px 10px 10px;
    }
}