@media (max-width: 750px) {
  .navbar {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: .5px solid rgba(255, 255, 255, 0.18);
  }
}
